<div class="home-box">
    <div class="home-neu">
        <button mat-flat-button (click)="Create_random_numbers(true)">Neu</button>
        <button mat-flat-button (click)="openDialog()">QR-Code</button>
    </div>
    
    <div id="home-chart">
        <canvas id="myChart"></canvas>
    </div>

    <div class="home-slider">
        <div class="home-slider-sub">
            <label id="numTries">Anzahl der Würfe: {{num_try}}</label>
            <button mat-flat-button (click)="valueChange(-1)">-1</button>
            <button mat-flat-button (click)="valueChange(1)">+1</button>
        </div>
        <mat-slider min="1" max="500" step="1" value={{num_try}} class="slider" id="myRange" (input)="getSliderValue($event,0,true)" (change)="saveValue($event, true)"></mat-slider>
    </div>
</div>