label{
    color: #424242;
    font-size: 13px;
}

.home-box{
    display: grid;
    grid-template-columns: 40px auto 100px 90px;
    grid-template-rows: 40px auto 20px 40px 40px;
    max-height: calc(100vh - 100px);
}

#Btn_Neu{
    grid-row: 1;
    grid-column:  1;
}

#Datenschutz_box{
    grid-row: 1;
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
    justify-content:center;
}

#Btn_Datenschutz{
    width: auto;
    height: 40px;
    margin-left: 50px;
}

#Btn_QR{
    grid-row: 1;
    grid-column: 4;
    margin-left: 5px;
}

#myChart{
    grid-row: 2;
    grid-column: 2 / 5;
    height: max-content;
    width: 100%;
    max-height: calc(100vh - 170px);
    max-width: calc(100vw - 65px);
}

#y_titel{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    transform: rotate(-90deg);
    white-space: nowrap;
}

#x_titel{
    grid-row: 3;
    grid-column: 2 / span 3;
    display: flex;
    align-items: center;
    justify-content:center;
}

#Tries_box{
    grid-row: 4;
    grid-column: 1 / span 3;
    width: calc(100vw - 120px);
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

#Btn_Minus{
    grid-row: 4;
    grid-column: 3;
    margin-left: 35px;
    width: 20px;
}

#Btn_Plus{
    grid-row: 4;
    grid-column: 4;
    width: 20px;
    margin-left: 20px;
}

#myRange{
    grid-row: 5;
    grid-column: 1 / span 4;
    width: calc(100vw - 20px);
}

button{
    width:80px;
}

/* Tablet & Mobile View */
@media (max-width: 900px){
/* 
    label{
        font-size: x-small;
    }

    button{
        transform: scale(0.5);
    }

    .home-box{
        display: grid;
        grid-template-columns: 20px auto 50px 45px;
        grid-template-rows: 40px auto 20px 20px 40px;
        max-height: calc(100vh - 100px);
    } */

}